.display{
  grid-column: span 4;
  background-color: #FFF;
  margin: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  font-size: 2.5em;
  border-radius: 12px;
  overflow: hidden;

}